<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>body {
        /* display: flex;
            flex-wrap: wrap;
            justify-content: center; */
        text-align: center;
        background-color: rgb(249, 240, 227);
        /* align-items: center; */
      }
      h1 {
        color: aqua;
        text-shadow: 2px 2px 2px rgb(252, 6, 6);
      }
      button {
        border: 1px solid black;
        border-radius: 5px;
        color: rgb(29, 99, 249);
        background-color: rgb(93, 243, 116);
        margin: 10px;
        padding: 5px;
      }
      button:hover {
        transform: scale(1.1);
      }
      form {
        text-align: left;
        margin-left: 25%;
        margin-right: 20%;
      }
      input {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
      }</style>
  </head>
  <body>
    <div><h1>Welcome to URL - Shorter</h1></div>
    <div>
      <form action="submit" method="post">
        <label for="redirectingURL">Enter URL here : </label><br />
        <input
          type="text"
          name="redirectingURL"
          placeholder="http://localhost:3000/example.com"
          required="true"
        />
        <br />
        <button type="submit">Generate</button>
    </form>
    <a href="/update">
      <button>Update</button>
    </a>
    <a href="/Analysis">
      <button>Analysis</button>
    </a>
    </div>
  </body>
</html>
